body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
	font-style: normal;
  font-size: 16px;
  color: #FFF;
}

h1 {
  font-family: EurostileNextPro-Wide;
	font-weight: normal;
	font-style: normal;
  text-transform: uppercase;
  font-size: 2.75rem;
}

h2 {

}

.sub-head {
  position: relative;
  top: 0;
  font-family: EurostileNextPro-SemiBold;
	font-weight: normal;
	font-style: normal;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 2rem;
  transition: .7s cubic-bezier(.23,1,.32,1);
  transition-delay: .2s;
}

a {
  text-decoration: none;
  cursor: pointer;
}




/*   KEYFRAMES   */
@keyframes load-spin {
  0%   { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}



/*   NAVIGATION   */
.nav-bg {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.nav-wrapper a.logo {
  font-family: EurostileNextPro-ExtBold;
  font-weight: normal;
	font-style: normal;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-right: auto;
}

.nav-wrapper a:nth-child(2) {
  margin-left: auto;
}

.nav-wrapper a {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: EurostileNextPro-Bold;
  font-weight: normal;
	font-style: normal;
}

.nav-wrapper a:not(:first-child) {
  margin: 0 1rem;
  padding: .5rem 1rem;
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.nav-wrapper a:not(:first-child):hover {
  color: #e62541;
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.nav-wrapper a:last-child {
  margin-right: 0;
}

.le-num {
  padding: .2rem .4rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: .25rem;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.5);
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.nav-wrapper a:not(:first-child):hover .le-num {
  color: #FFF;
}



/*   WRAPPER   */
.wrapper {
  width: 100%;
  padding: 0 8%;
}

.wrapper-heading {
  width: fit-content;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}



/*   GRID   */
.grid-hero-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
}



/*   HERO   */
.hero-bg {
  width: 100%;
  height: 100vh;
  background: #05080e;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 8vh;
}

.hero-bg .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .7s cubic-bezier(.23,1,.32,1);
  transition-delay: .1s;
}

.hero-contain {
  padding: 1rem 0 3rem 0;
}

.hero-contain:hover .sub-head {
  top: -20px;
  transition-delay: 0s;
}

.hero-contain:hover .heading {
  top: -20px;
  transition-delay: .1s;
}

.hero-contain:hover ~ .play-btn {
  top: -20px;
  transition-delay: .2s;
}

.plus-icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url('../img/icons/plus.svg');
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1.5rem;
}

.plus-icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .2;
}

.plus-icon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/icons/gradient-circle.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s cubic-bezier(.23,1,.32,1);
  animation: load-spin 2s infinite;
}

.play-btn {
  position: relative;
  top: 0;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .7s cubic-bezier(.23,1,.32,1);
  transition-delay: 0s;
}

.play-btn:hover {
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.play-btn:hover span {
  left: 10px;
}

.play-btn span {
  position: relative;
  left: 0;
  text-transform: uppercase;
  color: #FFF;
  font-size: 0.75rem;
  font-family: EurostileNextPro-Bold;
  font-weight: normal;
  font-style: normal;
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.play-btn .play-circle {
  position: relative;
  left: -5px;
  width: 70px;
  height: 75px;
}

.play-circle svg path {
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.play-btn:hover .play-circle svg path {
  stroke: #FFF;
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.play-btn:hover .play-circle:after {
  background-size: 8px;
  transition: 1s cubic-bezier(.23,1,.32,1);
}

.play-circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/icons/play.svg');
  background-size: 6px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s cubic-bezier(.23,1,.32,1);
}



/*   ATOMIC   */
