.EurostileNextPro-Light {
	font-family: EurostileNextPro-Light;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-Regular {
	font-family: EurostileNextPro-Regular;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-SemiBold {
	font-family: EurostileNextPro-SemiBold;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-Bold {
	font-family: EurostileNextPro-Bold;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-Ext {
	font-family: EurostileNextPro-Ext;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-ExtSmBd {
	font-family: EurostileNextPro-ExtSmBd;
	font-weight: normal;
	font-style: normal;
}
.EurostileNextPro-ExtBold {
	font-family: EurostileNextPro-ExtBold;
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: EurostileNextPro-ExtBold;
  font-size: 16px;
  color: #FFF;
}

a {
  text-decoration: none;
}




/*   NAVIGATION   */
.nav-bg {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  font-family: EurostileNextPro-ExtBold;
  font-size: 1.25rem;
  text-transform: uppercase;
}



/*   HERO   */
.hero-bg {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
}



/*   WRAPPER   */
.wrapper {
  width: 100%;
  padding: 0 8%;
}
